In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ACS_16_5YR_B04006.csv', encoding = 'ISO-8859-1')

In [3]:
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,...,HD01_VD100,HD01_VD101,HD01_VD102,HD01_VD103,HD01_VD104,HD01_VD105,HD01_VD106,HD01_VD107,HD01_VD108,HD01_VD109
0,0500000US01001,1001,"Autauga County, Alabama",55049,0,0,0,8930,26,0,...,0,0,0,0,0,0,0,0,20534,12030
1,0500000US01003,1003,"Baldwin County, Alabama",199510,0,0,0,49852,439,0,...,11,26,500,75,0,23,0,69,50784,33551
2,0500000US01005,1005,"Barbour County, Alabama",26614,0,0,0,4649,5,0,...,0,0,5,0,0,0,0,0,14763,3995
3,0500000US01007,1007,"Bibb County, Alabama",22572,0,0,0,2841,0,0,...,0,0,0,0,0,0,0,0,6455,9101
4,0500000US01009,1009,"Blount County, Alabama",57704,0,0,0,8169,133,0,...,14,0,0,0,0,0,0,0,13726,10805

In [10]:
df.columns

Index(['GEO.id', 'GEO.id2', 'GEO.display-label', 'HD01_VD01', 'HD01_VD02',
       'HD01_VD03', 'HD01_VD04', 'HD01_VD05', 'HD01_VD06', 'HD01_VD07',
       ...
       'HD01_VD101', 'HD01_VD102', 'HD01_VD103', 'HD01_VD104', 'HD01_VD105',
       'HD01_VD106', 'HD01_VD107', 'HD01_VD108', 'HD01_VD109', 'german'],
      dtype='object', length=113)

In [4]:

df['german'] = df.HD01_VD42/df.HD01_VD01*100

In [ ]:
df.HD01_VD42>df.HD01_VD02 &

In [20]:
df.loc[:,'HD01_VD02':'HD01_VD109'].sum()

HD01_VD02         98683
HD01_VD03        191463
HD01_VD04         11107
HD01_VD05      21961129
HD01_VD06       1883456
HD01_VD07        241451
HD01_VD08        130357
HD01_VD09         72223
HD01_VD10        496909
HD01_VD11        102373
HD01_VD12        114749
HD01_VD13        170791
HD01_VD14        297903
HD01_VD15        306592
HD01_VD16        465878
HD01_VD17        108690
HD01_VD18        100244
HD01_VD19        695207
HD01_VD20         59327
HD01_VD21        359121
HD01_VD22        378281
HD01_VD23       1370222
HD01_VD24         98410
HD01_VD25        115312
HD01_VD26        682300
HD01_VD27          7921
HD01_VD28         50058
HD01_VD29        410003
HD01_VD30          7332
HD01_VD31       1435359
                ...
HD01_VD80         16157
HD01_VD81         19852
HD01_VD82        135266
HD01_VD83         64148
HD01_VD84         47144
HD01_VD85         15186
HD01_VD86          9484
HD01_VD87       1825219
HD01_VD88        187086
HD01_VD89       3908762
HD01_VD90        937376
HD01_VD91        209038
HD01_VD92        986597
HD01_VD93       1805577
HD01_VD94       2881007
HD01_VD95         49806
HD01_VD96         64041
HD01_VD97         60943
HD01_VD98          5917
HD01_VD99        103865
HD01_VD100        49668
HD01_VD101       983336
HD01_VD102      1094055
HD01_VD103       216534
HD01_VD104        18202
HD01_VD105       280349
HD01_VD106         6616
HD01_VD107       276360
HD01_VD108    122416831
HD01_VD109     48337165
Length: 108, dtype: int64

In [21]:
df.loc[:,'HD01_VD02':'HD01_VD109'].fillna(0).idxmax(axis=1, skipna=True)

0       HD01_VD108
1       HD01_VD108
2       HD01_VD108
3       HD01_VD109
4       HD01_VD108
5       HD01_VD108
6       HD01_VD108
7       HD01_VD109
8       HD01_VD108
9       HD01_VD109
10      HD01_VD109
11       HD01_VD05
12      HD01_VD108
13       HD01_VD05
14      HD01_VD109
15      HD01_VD109
16      HD01_VD108
17      HD01_VD108
18       HD01_VD05
19      HD01_VD109
20      HD01_VD108
21      HD01_VD109
22      HD01_VD108
23      HD01_VD108
24      HD01_VD108
25      HD01_VD108
26      HD01_VD108
27      HD01_VD109
28      HD01_VD109
29      HD01_VD108
           ...
3112     HD01_VD42
3113     HD01_VD42
3114     HD01_VD42
3115     HD01_VD42
3116     HD01_VD42
3117     HD01_VD42
3118     HD01_VD42
3119     HD01_VD42
3120     HD01_VD42
3121    HD01_VD109
3122     HD01_VD42
3123     HD01_VD42
3124    HD01_VD109
3125    HD01_VD108
3126     HD01_VD42
3127     HD01_VD42
3128    HD01_VD109
3129    HD01_VD108
3130     HD01_VD36
3131    HD01_VD108
3132     HD01_VD42
3133     HD01_VD42
3134     HD01_VD42
3135    HD01_VD109
3136     HD01_VD42
3137    HD01_VD108
3138    HD01_VD108
3139     HD01_VD36
3140     HD01_VD42
3141     HD01_VD42
Length: 3142, dtype: object

In [22]:
import numpy as np

In [23]:
df['german_max']=np.where(df.loc[:,'HD01_VD02':'HD01_VD109'].idxmax(axis=1, skipna=True)=='HD01_VD42', 1,
                         )

In [18]:
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,...,HD01_VD102,HD01_VD103,HD01_VD104,HD01_VD105,HD01_VD106,HD01_VD107,HD01_VD108,HD01_VD109,german,german_max
0,0500000US01001,1001,"Autauga County, Alabama",55049,0,0,0,8930,26,0,...,0,0,0,0,0,0,20534,12030,7.520573,0
1,0500000US01003,1003,"Baldwin County, Alabama",199510,0,0,0,49852,439,0,...,500,75,0,23,0,69,50784,33551,10.753346,0
2,0500000US01005,1005,"Barbour County, Alabama",26614,0,0,0,4649,5,0,...,5,0,0,0,0,0,14763,3995,3.445555,0
3,0500000US01007,1007,"Bibb County, Alabama",22572,0,0,0,2841,0,0,...,0,0,0,0,0,0,6455,9101,6.047315,0
4,0500000US01009,1009,"Blount County, Alabama",57704,0,0,0,8169,133,0,...,0,0,0,0,0,0,13726,10805,7.496881,0

In [19]:
df.to_csv('cleaned.csv', index = False)